.vs/
H25G3/.vs/H25G3/v17
[Bb]in/
[Oo]bj/
[Dd]ebug/
H25G3/App
proWeb/App_Data/Database.mdf
/H25G3/proWeb/App_Data/Database.mdf
/H25G3/proWeb/App_Data/Database_log.ldf
/H25G3/proWeb/App_Data/Database_log.ldf
/H25G3/proWeb/App_Data/Database_log.ldf
